#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.selfImg{
  max-height: 100vh;
  max-width: 40vw;
}
.project-container{
  position: relative;
}

.projectImg{
  position:absolute;
  top:20px;
  opacity: 0;
  left:10px;
  color: black;
  letter-spacing: 2px;
  background-color: pink;

}
.projectImg:hover{
  /* max-height: 100vh;
  max-width: 40vw; */
  /* display links */
  background-color: white;
  color: green;
 
  opacity: 1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
